<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ticker}}</title>
</head>
<body>
<h1>Data for {{ ticker }}</h1>
    <table>
        <thead>
            <tr>
                <th>Датум</th>
                <th>Цена на последна трансакција</th>
                <th>Мак.</th>
                <th>Мин.</th>
                <th>Просечна цена</th>
                <th>%пром.</th>
                <th>Количина</th>
                <th>Промет во БЕСТ во денари</th>
                <th>Вкупен промет во денари</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.date }}</td>
                <td>{{ row.last_transaction_price }}</td>
                <td>{{ row.max_price }}</td>
                <td>{{ row.min_price }}</td>
                <td>{{ row.average_price }}</td>
                <td>{{ row.percent_change }}</td>
                <td>{{ row.quantity }}</td>
                <td>{{ row.best_turnover }}</td>
                <td>{{ row.total_turnover }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>